.pull-left
  %div{class: "trigger_answer_comment_#{comment.id}"}
    %span= link_to_comment_vote( 'upvote','', question, comment, comment.commentable)
    %span= display_sum_of_votes(comment)
    %span= link_to_comment_vote( 'downvote','', question, comment, comment.commentable)

