="Questions"
- p @user
/ =@user.questions.count
%ul#rowTab.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#personal-info"} Personal Information
  %li
    %a{"data-toggle" => "tab", :href => "#Employment-info"} Employment Information
  %li
    %a{"data-toggle" => "tab", :href => "#career-path"} Career Path
  %li
    %a{"data-toggle" => "tab", :href => "#warnings"} Warning
/ end: tabs link
.tab-content
  #personal-info.tab-pane.active
    tab data here...
  #Employment-info.tab-pane
    tab data heregfhjjjccccv...
  #career-path.tab-pane
    tab data here...
  #warnings.tab-pane
    tab data here...
