%span.linkbutton= question.answers_count
- if current_user.present?
  - if current_user.answers.where(question_id: question.id).first.blank?
    %span.linkbutton.link_space= link_to 'Add Answer', new_question_answer_path(question)

%hr/
.append_answer
  = render partial: 'answers/append_answer_vote', locals: {question: question, answers: answers}
%hr

.append_answer_comment
  = render partial: 'comments/append_answer_comment_vote', locals: {question: question, answers: answers, comments: comments}


%hr


