.answer-comment{
  position: relative;
  margin-left: 40px;
  font-size: 17px;
  color: black;

  }
  .fullname{
    font-size: 15px;
    color: blue;

  }
    .answer{
    font-size: 20px;
    color: black;
    font-family: verdana;

  }
  .linkbutton{
    position: relative;
    margin-left: 40px;
    font-size: 15px;
  }
  .question_title{
    font-size: 35px;
  }
  .question{
    font-size: 20px;
  }
.sign_right{
    position: relative;
    left: 850px;
    top: 15px;
    font-size: 15px;
    color: black;
  }
  .image{
    position: relative;
    left: 1100px;

  }
  .link_space
  {
    margin-left:10px !important;
  }
html, body {
 height: 100%;
}
.wrapper {
 min-height: 100%;
 height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
 height: 100%;
 margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.push {
 height: 65px; /* .push must be the same height as .footer */
}

footer {
 width: 100%;
 /* Set the fixed height of the footer here */
 height: 60px;
 background-color: #e6ccff !important;

}

.dropdown_sign_out {
  float: right;
}
.navbar-brand {
  color: green !important;
  font-size: 14px !important;
  margin-top: -2px !important;
}
.dropdown-toggle {
  color: violet !important;
  margin-top: -2px !important;

}
p {
  position: relative;
  margin-left: px;

}
.nav navbar-nav navbar-right{
  margin-left: -10px;
}
h2{
  color: #ff9900 !important;

}
.inner-container{
  text-align: center;

}
.inner-box {
  width: 600px;
  padding: 25px;
  border: 2px solid black;
  margin: 25px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.signed-in-navbar{
  margin-left: -10px;

}
.minimum_password {

  text-align: right !important;

}
.navbar.navbar-default {
  background-color: #e6ccff;

}
.append_create_comment{
  width: 1400px;
}
.allignment_vote{
  width: 5% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.allignment_text{
  padding-left: 0px !important;
}


