.answer-comment{
  position: relative;
  margin-left: 40px;
  font-size: 17px;
  color: black;

  }
.create-question-button
{
  float: right;
  position: relative;
  bottom: 30px;
  border: none!important;
  background: #cccc00;

  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none!important;
  /*text-decoration: none !important;*/
}
.create-question-button:hover
{
  background-color: grey;
  color: white;
}

.image-display
{
  width: 160px;
  height: 63px;
  padding: 10px;
  background-color:#E1ECF4;
  float: right;
}
.ans-pagination
{
  margin-right: 900px;
  bottom: 5px;
  position: relative;
}
.line-align
{
  bottom: 40px;
  position: relative;
}
.align-count
{
  margin-left: 10px;
  position: relative;
}
.align-question-index
{
  bottom: 30px;
  position: relative;

}
.question-index-image
{
  width: 160px;
  height: 63px;
  padding: 10px;
  background-color:#F4F6F8;
  float: right;
  position: relative;
  bottom: 50px;

}
.question-show-image
{
  width: 160px;
  height: 63px;
  padding: 10px;
  background-color:#E1ECF4;
  float: right;
  position: relative;
  bottom: 30px;

}

  .fullname{
    font-size: 15px;
    color: blue;
  }
  .ques-fullname
  {
    color:  #000066!important;
  }

.align
{
  width: 6% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;

}
  .answer{
  font-size: 20px;
  color: black;
  font-family: verdana;

}
  .linkbutton{
    position: relative;
    margin-left: 40px;
    font-size: 15px;
  }
  .linkanswer{
    position: relative;
    margin-left: 20px;
    font-size: 15px;
  }
  .question_title{
    font-size: 25px;
  }
  .question{
    font-size: 18px;
  }
.sign_right{
    position: relative;
    left: 850px;
    top: 15px;
    font-size: 15px;
    color: black;
  }
  .image{
    position: relative;
    left: 1100px;

  }
  .align-question-title
  {
    margin-left: 20px;
    position: relative;
    bottom: 20px;
  }
  .align-question-description
  {
    margin-left: 55px;
    position: relative;
    bottom: 20px;
  }
  .link_space
  {
    margin-left:10px !important;
  }
html, body {
 height: 100%;
 padding-top: 35px;
}
.wrapper {
 min-height: 100%;
 height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
 height: 100%;
 margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.push {
 height: 65px; /* .push must be the same height as .footer */
}

footer {
 width: 100%;
 /* Set the fixed height of the footer here */
 height: 60px;
 background-color: #333333 !important;
 text-align: center;
 bottom: 3px;

}

.dropdown_sign_out {
  float: right;
}
.navbar-brand {
  color: white !important;
  font-size: 14px !important;
  margin-top: -2px !important;
  margin-left: -24px !important;
}
.dropdown-toggle {
  color: white !important;
  margin-top: -2px !important;
 /* background-color:  #404040 !important;*/

}
.nav navbar-nav navbar-right{
  margin-left: -10px;
}
h2{
  color: #ff9900 !important;

}
.inner-container{
  text-align: center;
}

.inner-box {
  width: 600px;
  padding: 25px;
  border: 2px solid black;
  margin: 25px;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.signed-in-navbar{
  margin-left: -10px;

}
.minimum_password {

  text-align: right !important;

}
.navbar.navbar-default {
  background-color: #404040 !important;
  position:fixed;
  width:100%;
  top:-10px;
  margin-top:1rem;
  z-index: 5;
}
.append_create_comment{
  width: 1400px;
}
.allignment_vote{
  width: 5.5% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.allignment_text{
  padding-left: 0px !important;
  padding-right: 0px !important;

}

.allignment_answer_vote{
  width: 4% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.form-control{
  width: 100% !important;
}
.text-muted
{
  top: 15px;
  color: white !important;
}
.allign-image
{
  bottom: 50px;
}
.hor-line
{
  bottom: 30px;
}
